{%extends 'base.html'%}
{% load static %}
{% block content %} 
{{ block.super}}

<div class="container">
    {%for course in courses%}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><a href="#">{{course.title}}</a></h5>
            <p class="card-text"><a href="#">{{course.flashcards}}</a></p>
            <a href="#" class="btn btn-primary">{{course.title}}</a>
        </div>
    </div>

    
    
    <!-- <a href="#">{{course.title}}</a>
    <a href="#">{{course.flashcards}}</a> -->
    {%endfor%}

    

    
    

    </div>
{% endblock %}